$PaleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);

$VeryPaleBlue: hsl(225, 100%, 98%);
$DeSaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: $PaleBlue;
    // padding-top: 85px;
}

.card-container{
    width: 90%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;

    .img-holder-1{
        width: 100%;
    }
    img{
        width: 100%;
    }

    .content-container{
        padding: 30px 50px 50px 50px;

        h2{
            text-align: center;
            font-weight: 900;
            margin-top: 0;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            color: $DarkBlue;
            text-align: center;
        }

        .plan-container{
            display: flex;
            flex-direction: row;
            background-color: $VeryPaleBlue;
            border-radius: 15px;
            align-items: center;
            justify-content: space-around;
            padding: 15px 20px 15px 20px;
            margin-bottom: 20px;

            .img-holder-2{
                margin-right: 10px;
            }

            .plan-info-holder{
                display: flex;
                flex-direction: column;
                
                h2{
                    margin: 0;
                    margin-bottom: 5px;
                    font-size: .95rem;
                    font-weight: 700;
                }
                span{
                    font-size: .95rem;
                    font-weight: 500;
                }
                button{
                }
            }

            .content-button-holder{
                margin-left: auto;
                a{
                    color: $BrightBlue;
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
        .button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .b1{
                text-decoration: none;
                background-color: $BrightBlue;
                color: $VeryPaleBlue;
                border-radius: 15px;
                padding         : 20px;
                font-weight     : 700;
                box-shadow      : 0 17px 10px rgba(0, 0, 0, .1);
                margin-bottom   : 20px;

                &:hover {
                    background-color: $DeSaturatedBlue;
                }
            }
            .b2{
                font-weight: 700;
                text-decoration: none;
                color: rgba($color: #000000, $alpha: 0.8);

                &:hover {
                    color: $DarkBlue
                }
            }
        }
    }
}